<a href="https://colab.research.google.com/github/jyb20121302/sm06/blob/master/sm06_ch2_02_string.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 문자열 자료형

In [2]:
# ch2_02_string.py
# "Life is too short, you need python"
# 'Life is too short, you need python'  ----> 디폴트값
# """Life is too short, you need python"""
# '''Life is too short, you need python'''

print("문자열: '")
food = "Python's favorite food is perl"
food

문자열: '

"Python's favorite food is perl"

In [3]:

food = 'Python's favorite food is perl'  # Error
food
# 'Python'이 문자열로 인식되어 구문오류(SyntaxError)가 발생

SyntaxError: ignored

In [5]:
say = '"Python is very easy." he says.'
say

'"Python is very easy." he says.'

In [6]:
print("문자열: \ 이용")
food = 'Python\'s favorite food is perl'
food

문자열: \ 이용

"Python's favorite food is perl"

In [7]:
say = "\"Python is very easy.\" he says."
say

'"Python is very easy." he says.'

In [8]:
# 이스케이프 코드
print("문자열: 이스케이프 코드 이용")
multiline = "Life is too short\nYou need python"
multiline
print(multiline)
# \n 사용시 그 부분 한줄 띄운다

문자열: 이스케이프 코드 이용
Life is too short
You need python

In [10]:
# 여러줄 문자열 처리
multiline = '''
... Life is too short
... You need python
... '''
multiline
# 줄 바꾼 위치에 이스케이프 코드출력됨

print(multiline)

Life is too short
You need python

In [12]:

################################################
print("문자열 연산: 더하기")
head = "Python"
tail = " is fun!"
head + tail

# 두 문자열을 합쳐서 출력

문자열 연산: 더하기

'Python is fun!'

In [14]:

print("문자열 연산: 곱하기")
a = "python"
a * 2
#똑같은 문자열 2번 반복

문자열 연산: 곱하기

'pythonpython'

In [16]:
#####################################
# multistring.py
print("=" * 50)
print("I am now coding Python!")
print("=" * 50)
#####################################

#print함수는 자동으로 한줄띄워서 출력해준다
# '='을 50번 출력하고 한줄띄운 후, "I am now coding Python!"출력 후 한줄 띄우고, '='을 50번 출력

==================================================
I am now coding Python!
==================================================

In [18]:

# 내장함수: len()
print("문자열 연산: 길이 구하기 - len()")
a = "Life is too short"
len(a)

# a에 있는 문자열의 길이를 구해준다(빈칸포함)

문자열 연산: 길이 구하기 - len()

17

In [20]:
#####################################
#
# 문자열 인덱싱과 슬라이싱
#
#####################################
print("문자열: 인덱싱이란?")
a = "Life is too short, You need Python"
print(a[3],a[15])

# "파이썬은 0부터 숫자를 센다."

문자열: 인덱싱이란?
e r

In [22]:
print("문자열: 인덱싱 활용")

a = "Life is too short, You need Python"
print(a[0],a[12],a[-1],a[0])
# -1은 제일 마지막 문자 
# a[-0]은 a[0]과 같은 결과

문자열: 인덱싱 활용
L s n L

In [23]:
print(a[-2],a[-5],a[-12])

# a[-n]은 문자열 맨 뒤에서 n번째 문자를 출력

o y

In [24]:
#####################################
print("문자열: 슬라이싱이란?")
a = "Life is too short, You need Python"
# Life 를 뽑아낼려면 어떻게?
b = a[0] + a[1] + a[2] + a[3]  # 문자열 더하기 연산
b

문자열: 슬라이싱이란?

'Life'

In [26]:
# slicing (슬라이싱)
print(a[0:4],a[0:5],a[5:7],a[12:17])

# a의 0번문자열부터 4번문자열까지
# a의 0번문자열부터 5번문자열까지
# a의 5번문자열부터 7번문자열까지
# a의 12번문자열부터 17번문자열까지

Life Life  is short

In [30]:
# : 의 사용  ====> 맨 처음 부터
print(a[:4])  #처음부터 4번까지
print(a[19:]) #19번부터 끝까지
print(a[:17]) #처음부터 17번까지
print(a[:])  #전체출력
print(a[19:-7]) #19번부터 뒤에서 7자리 빼고

Life
You need Python
Life is too short
Life is too short, You need Python
You need

In [31]:
print("문자열: 슬라이싱 응용?")
a = "20190909Sunny"
a

문자열: 슬라이싱 응용?

'20190909Sunny'

In [32]:
date = a[:8] # a의 처음부터 8번까지문자열을 date에 저장
weather = a[8:] # a의 8번부터 끝까지 weather에 저장
print(date,weather)

20190909 Sunny

In [33]:

a = "20190917Rainy"
a

'20190917Rainy'

In [34]:
year = a[:4] # a의 처음부터 4번까지문자열을 year에 저장
day = a[4:8] # a의 4번부터 8번까지문자열을 day에 저장
weather = a[8:] # a의 8부터 끝까지문자열을 date에 저장
print(year,day,weather)

2019 0917 Rainy

In [35]:
# "Pithon"이라는 문자열을 "Python"으로 바꾸려면?
a = "Pithon"
a

'Pithon'

In [36]:
print(a[1])

i

In [37]:
a[1] = 'y'  # Error (immutable한 자료형) --->불변 --->에러 발생

TypeError: ignored

In [38]:
a = "Pithon"
a[:1]
a[2:]
a[:1] + 'y' + a[2:]  # Python
#a의 처음부터 1번까지 문자열과 a의 2번부터 끝까지의 문자열 사이에 'y'를 넣어서 출력

'Python'

In [39]:
# ch2_03_string_formating.py

print("문자열: 포매팅이란?")
# 1. 숫자 바로 대입
"I eat %d apples." % 3

문자열: 포매팅이란?

'I eat 3 apples.'

In [40]:
# 2. 문자열 바로 대입
"I eat %s apples." % "five"

'I eat five apples.'

In [41]:
# 3. 숫자 값을 나타내는 변수로 대입
number = 3
"I eat %d apples." % number

'I eat 3 apples.'

In [43]:
# 4. 2개 이상의 값 넣기
number = 10
day = "three"
#"I ate %d apples. so I was sick for %s days." % number, day   # Error
"I ate %d apples. so I was sick for %s days." % (number, day)
# 소괄호 안에 콤마(,)로 구분하여 각각의 값을 넣어 준다.

'I ate 10 apples. so I was sick for three days.'

In [45]:
print("문자열: 포맷 코드")
# %d, %s, %c, %f, %o, %x, %%
# %s, 묵시적 형변환
print("I have %s apples" % 3)
print("rate is %s" % 3.234)

#"Error is %d%." % 98 #error
print("Error is %d%%." % 98)

문자열: 포맷 코드
I have 3 apples
rate is 3.234
Error is 98%.

In [46]:
print("문자열: 포맷 코드와 숫자 함께 사용하기")
# 1. 정렬과 공백
print("%10s" % "hi") #--->10칸 띄우고 우측정렬
print("%-10sjane." % "hi") #---> hi쓰고 10칸 띄워서 출력
# 2. 소수점 표현하기
print("%0.4f" % 3.42134234) #----> 소수점 4자리까지 출력
print("%10.4f" % 3.42134234) #----> 10칸띄우고 소수점 4자리까지 출력

문자열: 포맷 코드와 숫자 함께 사용하기
        hi
hi        jane.
3.4213
    3.4213

In [47]:
print("문자열: format 함수를 사용한 포매팅")
# 1. 숫자 바로 대입하기
print("I eat {0} apples".format(3))
print("I eat {0} {1} apples".format(3, 4))
#--->{a}자리에 각각 대입해준다

문자열: format 함수를 사용한 포매팅
I eat 3 apples
I eat 3 4 apples

In [49]:
# 2. 문자열 바로 대입하기
print("I eat {0} apples".format("five"))
print("I eat {0} apples from {1} boxes".format("five", "three"))
#--->{a}자리에 각각 대입해준다

I eat five apples
I eat five apples from three boxes

In [50]:
# 3. 숫자 값을 가진 변수로 대입하기
number = 3
print("I eat {0} apples".format(number))
print("I eat {0} apples".format(number + 1))

I eat 3 apples
I eat 4 apples

In [0]:
# 2개 이상의 값 넣기
number = 10
day = "three"

In [52]:
print("I ate {0} apples. so I was sick for {1} days.".format(number, day))
# 이름으로 넣기
print("I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3))
# 인덱스와 이름을 혼용해서 넣기
print("I ate {0} apples. so I was sick for {day} days.".format(10, day=3))

I ate 10 apples. so I was sick for three days.
I ate 10 apples. so I was sick for 3 days.
I ate 10 apples. so I was sick for 3 days.

In [57]:
######################################
# 왼쪽 정렬/ 오른쪽 정렬
print("{0:<10}".format("hi"))
print("{0:>10}".format("hi"))
# 가운데 정렬
print("{0:^10}".format("hi"))
# 공백 채우기
print("{0:=^10}".format("hi"))
print("{0:!<10}".format("hi"))
# 도전하기
print("{0:<10}{1:>10}".format("hi",'comsi'))
#########################################

hi
        hi
    hi
====hi====
hi!!!!!!!!
hi             comsi

In [0]:
# 소수점 표현하기
y = 3.42134234

In [59]:
print("{0:0.4f}".format(y))
print("{0:10.4f}".format(y))  #---->우측정렬이 기본

3.4213
    3.4213

In [60]:
# { 또는 } 문자 표현하기
"{{ and }}".format()

'{ and }'

In [61]:
##########################
##### f 문자열 포매팅 #####
##### .format() 대체
##########################
print("문자열: f 문자열 포매팅")
name = "홍길동"
age = 30

문자열: f 문자열 포매팅

In [62]:
f"나의 이름은 {name}입니다. 나이는 {age}입니다."

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [63]:

age = 30
f"나는 내년이면 {age+1}살이 된다."

'나는 내년이면 31살이 된다.'

In [64]:
# 딕셔너리는 f 문자열 포매팅에서 다음과 같이 사용
d = {"name": "홍길동", "age": 30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [66]:
# 정렬
print(f'{"hi":<10}')  # 왼쪽 정렬
print(f'{"hi":>10}')  # 오른쪽 정렬
print(f'{"hi":^10}')  # 가운데 정렬

hi
        hi
    hi

In [0]:
# 공백 채우기
y = 3.42134234

In [68]:
print(f"{y:0.4f}")  # 소수점 4자리까지만 표현
print(f"{y:10.4f}")  # 소수점 4자리까지 표현하고 총 자리수를 10으로 맞춤
# { } 문자를 표시
print(f"{{ and }}")

3.4213
    3.4213
{ and }

In [69]:
##############################################
print("문자열: 관련 내장 함수들")
# 문자 개수 세기(count)
a = "hobby"
a.count("b")

문자열: 관련 내장 함수들

2

In [71]:
# 위치 알려주기1(find)
a = "Python is the best choice"
print(a.find("b"))
print(a.find("k"))  # what value? 값이 없으면 -1로 표시

14
-1

In [72]:
# 위치 알려주기2(index)
a = "Life is too short"
print(a.index("t"))
print(a.index("k"))
# find와 index의 차이점은 find는 없으면-1,index는 없으면 에러

8

ValueError: ignored

In [73]:
# 문자열 삽입(join)
print(",".join("abcd"))
print(",".join(["a", "b", "c", "d"]))

a,b,c,d
a,b,c,d

In [76]:
# 소문자를 대문자로 바꾸기(upper)
a = "hi"
print(a.upper())
# 대문자를 소문자로 바꾸기(lower)
a = "IoT"
print(a.lower())

HI
iot

In [78]:
# 왼쪽 공백 지우기(lstrip)
a = " hi "
print(a.lstrip())
# 오른쪽 공백 지우기(rstrip)
print(a.rstrip())
# 양쪽 공백 지우기(strip)
print(a.strip())

hi
 hi
hi

In [79]:
# 문자열 바꾸기(replace)
a = "Life is too short"
print(a.replace("Life", "Your leg"))

Your leg is too short

In [80]:
# 문자열 나누기(split) -> 공백을 기준으로 문장을 분리
a = "Life is too short"
print(a.split())
b = "a:b:c:d"
print(b.split(":"))

['Life', 'is', 'too', 'short']
['a', 'b', 'c', 'd']

In [81]:
#### 도전하기 #####
# format 함수 또는 f 문자열 포매팅을 이용해서 '!!!python!!!' 문자열을 출력해보시오.
print("{0:!^12}".format("python"))
print(f'{"python":!^12}')

!!!python!!!
!!!python!!!