<a href="https://colab.research.google.com/github/jyb20121302/sm06/blob/master/sm06_ch2_03_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**리스트**

In [0]:
print("리스트: list 란?")
odd = [1, 3, 5, 7, 9]
odd

리스트: list 란?

[1, 3, 5, 7, 9]

In [0]:
#여러가지 리스트
a = []   # list 초기화
b = [1, 2, 3]
c = ['Life', 'is', 'too', 'short']
d = [1, 2, 'Life', 'is']            # 파이썬의 특징(정수와 문자열 함께 사용 가능)
e = [1, 2, ['Life', 'is']]          # 리스트안에 리스트 설정 가능   

print(a)
print(b)
print(c)
print(d)
print(e)

[]
[1, 2, 3]
['Life', 'is', 'too', 'short']
[1, 2, 'Life', 'is']
[1, 2, ['Life', 'is']]

In [0]:
a = list()
a   # []   # a를 리스트로 초기화

[]

In [0]:
print("리스트: 리스트의 인덱싱과 슬라이싱")
print('a = [1, 2, 3]')
a

리스트: 리스트의 인덱싱과 슬라이싱
a = [1, 2, 3]

[1, 2, 3]

In [0]:
a[0]    #첫번째 인덱스 값

1

In [0]:
a[3]    #에러발생(리스트 인덱스가 범위를 벗어났다)

IndexError: ignored

In [0]:
a[0]+a[2] #1+3의 값이 나옴

4

In [0]:
a[-1]  #맨 마지막 인덱스 값

3

In [0]:
a = [1, 2, 3, ['a', 'b', 'c']]
a

[1, 2, 3, ['a', 'b', 'c']]

In [0]:
a[0]
a[3]   # 문자열 리스트 출력
a[-1]  # 제일 뒤에 있는 리스트 출력
print(a[0])
print(a[3])
print(a[-1])

1
['a', 'b', 'c']
['a', 'b', 'c']

chaek this: a[0] + a[-1] -> TypeError (정수와 문자열을 더할 수 있는 법은 없다)

Indexing inner list

In [0]:
a[0] + a[-1]

TypeError: ignored

In [0]:
a[-1][0]  # a의 마지막에 있는 리스트의 0번째 값출력

'a'

In [0]:
a[-1][-1]   # a의 마지막에 있는 리스트의 마지막 값 출력

'c'

Indexing of triple list

삼중 리스트에서 인덱싱하기

In [0]:
a = [1, 2, ['a', 'b', ['Life', 'is']]]
a

[1, 2, ['a', 'b', ['Life', 'is']]]

In [0]:
a[2]
a[2][-1]
a[2][-1][0]   # 'Life'

print(a[2])
print((a[2][-1]))
print((a[2][-1][0]))

['a', 'b', ['Life', 'is']]
['Life', 'is']
Life

리스트의 슬라이싱

In [0]:
a = [1, 2, 3, 4, 5]
a[0:2]  # a[0:n] ---> n전까지만 출력

[1, 2]

In [0]:
a = "12345"
a[0:2]  # a[0:n] ---> n전까지만 출력

'12'

In [0]:
a = [1, 2, 3, 4, 5]
a[0:2]
a[2:]  # a[n:] ---> n부터 끝까지 출력
a[0:4:2]  # a[start:end:step]

print("a[0:2] = ",a[0:2])
print("a[2:] = ",a[2:])
print("a[0:4:2] = ",a[0:4:2])

a[0:2] =  [1, 2]
a[2:] =  [3, 4, 5]
a[0:4:2] =  [1, 3]

중첩된 리스트에서 슬라이싱하기

In [0]:
a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
a[2:5]
a[3][:2]

print("a = ",a)
print("a[2:5] = ",a[2:5])
print("a[3][:2] = ",(a[3][:2]))

a =  [1, 2, 3, ['a', 'b', 'c'], 4, 5]
a[2:5] =  [3, ['a', 'b', 'c'], 4]
a[3][:2] =  ['a', 'b']

리스트: 인덱싱, 슬라이싱 연습

In [0]:
x = [1, 2, 3, 4, 5, 6, 7, 8, 9]
x[0:3]
x[3:]
x[:6]
x[0:6:2]  # x[:6:2]
x[-1]
x[-3]
x[:-3]
x[::-1]   # 처음부터 끝까지인데 step이 -1이면 반대로 끝에서 부터 처음까지
x[-3::-1]  # 7부터 끝까지 반대로

print("x[0:3] = ",x[0:3])
print("x[3:] = ",x[3:])
print("x[:6] = ",x[:6])
print("x[0:6:2] = ",x[0:6:2])
print("x[-1] = ",x[-1])
print("x[-3] = ",x[-3])
print("x[:-3] = ",x[:-3])
print("x[::-1] = ",x[::-1])
print("x[-3::-1] = ",x[-3::-1])

x[0:3] =  [1, 2, 3]
x[3:] =  [4, 5, 6, 7, 8, 9]
x[:6] =  [1, 2, 3, 4, 5, 6]
x[0:6:2] =  [1, 3, 5]
x[-1] =  9
x[-3] =  7
x[:-3] =  [1, 2, 3, 4, 5, 6]
x[::-1] =  [9, 8, 7, 6, 5, 4, 3, 2, 1]
x[-3::-1] =  [7, 6, 5, 4, 3, 2, 1]

리스트 연산하기

----------------------

 리스트 더하기(+)

In [0]:
a = [1, 2, 3]
b = [4, 5, 6]
a + b # 리스트 확장

print("a = ",a)
print("b = ",b)
print("a + b = ",a + b)

a =  [1, 2, 3]
b =  [4, 5, 6]
a + b =  [1, 2, 3, 4, 5, 6]

리스트 반복하기(*)

In [0]:
print("a * 3 = ",a * 3) # a가 3번 반복해서 확장

a * 3 =  [1, 2, 3, 1, 2, 3, 1, 2, 3]

리스트 길이구하기

In [0]:
print("len(a) = ",len(a))

len(a) =  3

초보자가 범하기 쉬운 리스트 연산 오류

In [0]:
a = [1, 2, 3]
print("a = ",a)

a =  [1, 2, 3]

In [0]:
a[2] + "hi"   # 정수형 문자열끼리 연산 오류

TypeError: ignored

In [0]:
str(a[2]) + "hi"  # 해결법 ----> 스트링형으로 바꾼후 연산

'3hi'

리스트의 수정과 삭제

In [0]:
a = [1, 2, 3]
a

[1, 2, 3]

In [0]:
a[2] = 4  # list is mutable!!! ---> 가변형이라서 잘 바뀜
a

[1, 2, 4]

del 함수 사용해 리스트 요소 삭제하기

In [0]:
a = [1, 2, 3]
a

[1, 2, 3]

In [0]:
del a[1]   # []안의 값은 인덱스값 (정수 1이 아님)
a

[1, 3]

In [0]:
a = [1, 2, 3, 4, 5]
a

[1, 2, 3, 4, 5]

In [0]:
del a[2:]
a

[1, 2]

#리스트 내부함수 이용

리스트에 요소 추가(append)

In [0]:
a = [1, 2, 3]
a.append(4)  # 리스트에 요소 추가
a

[1, 2, 3, 4]

리스트 안에는 어떤 자료형도 추가할 수 있다.

리스트에 다시 리스트를 추가한 결과

In [0]:
a.append([5, 6]) # 2차원 리스트로 추가된다.
a

[1, 2, 3, 4, [5, 6]]

리스트 정렬(sort)

In [0]:
a = [1, 4, 3, 2]
a.sort()  #자동으로 정렬됨
a

[1, 2, 3, 4]

In [0]:
s = ["a", "c", "b"]
s.sort()    #자동으로 정렬됨
s

['a', 'b', 'c']

리스트 뒤집기(reverse)

In [0]:
a = ["a", "c", "b"]
a.reverse()    #순서를 뒤집는다.
a

['b', 'c', 'a']

위치 반환(index)

In [0]:
a = [1, 2, 3]
print("a.indes(3) = ",a.index(3))  # 3은 인덱스값
print("a.indes(1) = ",a.index(1))

a.indes(3) =  2
a.indes(1) =  0

In [0]:
a.index(0) # 리스트에 없는 0은 ValueError가 난다.

ValueError: ignored

In [0]:
s = ["a", "c", "b"]
s.index(3)  # Error ----> 리스트에 없는 3은 ValueError가 난다.

ValueError: ignored

In [0]:
s.index(a)  # Error

ValueError: ignored

In [0]:
s.index("a")  #---> "" , '' 결과 같음

0

리스트에 요소 삽입(insert)

In [0]:
a = [1, 2, 3]
a

[1, 2, 3]

In [0]:
a.insert(0, 4) # 0번 인덱스 값 자리에 4 추가
a

[4, 1, 2, 3]

In [0]:
a.insert(3, 5) # 3번 인덱스 값자리에 5 추가하고 3은 4번 인덱스 값으로 밀려난다.
a

[4, 1, 2, 5, 3]

리스트 요소 제거(remove)

In [0]:
a = [1, 2, 3, 1, 2, 3]
a

[1, 2, 3, 1, 2, 3]

In [0]:
a.remove(3)  # 제일 처음에 나오는 value값 3이 지워진다.
a

[1, 2, 1, 2, 3]

3을 리스트 a에서 완전히 제거

In [0]:
a.remove(3)   # value값 3이 지워진다.
a

[1, 2, 1, 2]

In [0]:

a.remove(3)  # ValueError ---->없는걸 지우라고해서 에러남.

ValueError: ignored

리스트 요소 끄집어내기(pop)

In [0]:
a = [1, 2, 3]
# pop()은 리스트의 맨 마지막 요소를 돌려주고 그 요소는 삭제한다.
a.pop()

3

In [0]:
a

[1, 2]

In [0]:
a = [1, 2, 3]
# pop(x)는 리스트의 index가 x인 요소를 돌려주고 그 요소는 삭제한다.
a.pop(1)  # 인덱스값 1에 있는 2를 돌려주고 2를 삭제한다.
a

[1, 3]

In [0]:
a.pop(2)  # IndexError ----> 현재 인덱스값은 1까지라서 에러.

IndexError: ignored

리스트에 포함된 요소 x의 개수 세기(count)

In [0]:
a = [1, 2, 3, 1]
a.count(1)  # value값 1이 몇개인지 센다.

2

리스트 확장(extend)

In [0]:
a = [1, 2, 3]
a.extend([4, 5]) # a.extend([4, 5])는 a += [4, 5]와 동일
a

[1, 2, 3, 4, 5]

In [0]:
b = [6, 7]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7]