<a href="https://colab.research.google.com/github/jyb20121302/sm06/blob/master/sm06_ch4_01_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ch4_01_function.py

##함수란?

입력값을 가지고 어떤 일을 수행한 다음에 그 결과물을 내어놓는 것

##함수를 사용하는 이유

1. 반복되는 부분을 함수로 전환

2. 코딩을 모듈화


##파이썬 함수의 구조

def 함수명(매개변수):

    <수행할 문장1>
    
    <수행할 문장2>
    
    ...
"""

In [2]:
# add() 함수를 정의
def add(a, b):    
    return a + b


add(2,3)

5

In [3]:
add("IJU"," COMSI") ### list나 tuple도 가능 문자열도 가능

'IJU COMSI'

In [4]:
# add() 함수를 사용
a=3
b=4
c=add(a,b)
print(c)

7

In [5]:
x=[1,2,3]   ####list는 확장된다.
y=[4,5,6]
z=x+y
print(z)

[1, 2, 3, 4, 5, 6]

#매개변수와 인수의 차이를 이해하자!

매개변수는 함수에 입력으로 전달된 값을 받는 변수

인수는 함수를 호출할 때 전달하는 입력값을 의미

##add() 함수에서의 매개변수와 인수
"""
def add(a, b):  # a, b는 매개변수

    return a+b

print(add(3, 4))  # 3, 4는 인수

"""

#입력값과 결괏값에 따른 함수의 형태

###입력값 ---> 함수 ----> 결괏값

###일반적인 함수

###입력값과 결괏값이 있는 함수

"""

def 함수이름(매개변수):

    <수행할 문장>
    ...
    return 결과값
"""

In [10]:
def add2(a, b): ###함수는 동일한 함수명 사용 불가
    result = a + b 
    return result


# 입력값과 결괏값이 있는 함수의 사용법
# 결괏값을 받을 변수 = 함수이름(입력인수1, 입력인수2, ...)
a = add2(3, 4)
print(a)

7

In [11]:
# 입력값이 없는 함수
def say(): ### 매개변수 없이도 가능
    return 'Hi'



# 입력값이 없는 함수의 사용법
# 결괏값을 받을 변수 = 함수이름()
a = say()
print(a)

Hi

In [12]:
# 결괏값이 없는 함수

def add3(a, b): ###함수는 동일한 함수명 사용 불가
    print("%d, %d의 합은 %d입니다." % (a, b, a+b))


# 결괏값이 없는 함수의 사용법
# 함수이름(입력인수1, 입력인수2, ...)
add3(3, 4)

3, 4의 합은 7입니다.

In [13]:
# 다음 결과는 무엇인가?
a = add3(3, 4)  ## 실행가능
print(a) ## None값이 나옴
#

3, 4의 합은 7입니다.
None

In [14]:
# 입력값도 결괏값도 없는 함수

def say2(): 
    print('Hi')


# 입력값도 결괏값도 없는 함수의 사용법
# 함수이름()
say()

'Hi'

###매개변수의 값을 지정하여 호출하기

In [15]:
def add4(a, b):
    return a+b


result = add4(a=3, b=7)  # a에 3, b에 7을 전달
print(result)

10

In [16]:
# 매개변수의 순서에 상관없이 사용
result = add4(b=5, a=3)  # b에 5, a에 3을 전달
print(result)

8

###매개변수의 값을 초기화하여 정의하기

In [17]:
def add5(a=1, b=2):
    return a+b


add5()    ### 값이 나옴

3

##입력값이 몇 개가 될지 모를 때는 어떻게 해야 할까?

"""
def 함수이름(*매개변수): 

    <수행할 문장>    
    ...    
"""

In [0]:
def add_many(*args):  ###함수의 매개변수의 갯수를 정하지 않고 실행 가능
    result = 0 
    for i in args: 
        result = result + i 
    return result

In [19]:
add_many(1, 2, 3)

6

In [20]:
add_many(1, 2, 3, 4, 5, 6, 7, 8, 9)

45

In [21]:
result = add_many(1,2,3,4,5,6,7,8,9,10)
print(result)

55

###여러 개의 입력을 처리하는 함수(*args)

In [0]:
def add_mul(choice, *args): ###chois로 더할지 곱할지 정하고, 그에 맞게 처리
    if choice == "add":
        result = 0 
        for i in args:
            result = result + i 
    elif choice == "mul":
        result = 1 
        for i in args: 
            result = result * i 
    return result

In [25]:
# add
result = add_mul('add', 1,2,3,4,5)
print('add result = ', result)

# multiply
result = add_mul('mul', 1,2,3,4,5)
print('mul result = ', result)

add result =  15
mul result =  120

###키워드 파라미터 kwargs -> keyword + args

In [0]:
def print_kwargs(**kwargs):
    print(kwargs)

In [27]:
# print_kwargs 함수는 매개변수 kwargs를 출력하는 함수
print_kwargs(a=1)  ## 딕셔너리 형태로 출력

print_kwargs(name='foo', age=3)

{'a': 1}
{'name': 'foo', 'age': 3}


**kwargs처럼 매개변수 이름 앞에 

**을 붙이면 매개변수이다.

kwargs는 딕셔너리가 되고 모든 key=value 형태의 결과값이 
그 딕셔너리에 저장된다.

###함수의 결괏값은 언제나 하나

In [0]:
def add_and_mul(a,b):  ### 값이 2개이상일 떄는 tuple 형태로 출력된다
    return a+b, a*b

In [31]:
# add_and_mul() 사용 1.
result = add_and_mul(3,4)

print('result = ', result)

# add_and_mul() 사용 2.
result1, result2 = add_and_mul(3, 4)  ### tuple은 () 사용 안해도 가능함

result1, result2  ### 이 자체가 tuple형식

result =  (7, 12)

(7, 12)

###잘못된 함수

In [32]:
def add_and_mul2(a,b): 
    return a+b  # return이 나온 후는 작업 끝
    return a*b  # Not working!!


result = add_and_mul2(2, 3)  # 더한 값만 나온다
print(result)

5

###return 의 용도: 함수 실행 종료

In [36]:
def say_nick(nick): 
    if nick == "바보": 
        return 
    print("나의 별명은 %s 입니다." % nick)  ## nick에 바보가 들어오면 그냥 출력, 다른 값이 온다면 '나의 별명은 ???입니다' 출력


print(say_nick("홍길동"))
say_nick("바보")

나의 별명은 홍길동 입니다.
None

###매개변수에 초깃값 미리 설정하기

In [0]:
def say_myself(name, old, man=True): 
    print("나의 이름은 %s 입니다." % name) 
    print("나이는 %d살입니다." % old) 
    if man: 
        print("남자입니다.")
    else: 
        print("여자입니다.")

In [39]:
say_myself("박응용", 27)

나의 이름은 박응용 입니다.
나이는 27살입니다.
남자입니다.

In [40]:
say_myself("박응용", 27, True)

나의 이름은 박응용 입니다.
나이는 27살입니다.
남자입니다.

In [41]:
say_myself("박응용", 27, False)

나의 이름은 박응용 입니다.
나이는 27살입니다.
여자입니다.

여기서 매개변수의 위치를 바꾸면 에러가 나온다.

"""

def say_myself2(name, man=True, old): 

    print("나의 이름은 %s 입니다." % name) 
    
    print("나이는 %d살입니다." % old) 
    
    if man: 
    
        print("남자입니다.") 
        
    else:
    
        print("여자입니다.") 

"""

초깃값을 설정해 놓은 매개변수 뒤에 
초깃값을 설정해 놓지 않은 매개변수는 사용할 수 없다

초기화시키고 싶은 매개변수를 항상 뒤쪽에 놓는다.

###함수 안에서 선언한 변수의 효력 범위
전역변수, 지역 변수, 자동 변수

In [42]:
# vartest.py
a = 1    ## 전역변수
def vartest(a):  ## 자동변수
    a = a +1  ## 지역 변수


vartest(a)
print(a)
### 전역변수가 출력된다

1

In [44]:
# vartest_error.py
def vartest2(z2):
    z2 = z + 1


vartest2(3)
print(z2)  # Error

TypeError: ignored

##함수 안에서 함수 밖의 변수를 변경하는 방법
####return 사용
####global 변수 사용

In [45]:
# 1. return 사용하기
a = 1 
def vartest3(a): 
    a = a +1 
    return a


a = vartest3(a) 
print(a)

2

In [46]:
# 2. global 명령어 사용하기
a = 1 
def vartest4(): 
    global a 
    a = a+1


vartest4() 
print(a)

2

#--------   lambda  -------------------

lambda는 함수를 생성할 때 사용하는 예약어로 def와 동일한 역할을 한다. 
보통 함수를 한줄로 간결하게 만들 때 사용한다.

lambda 사용법

lambda 매개변수1, 매개변수2, ... : 매개변수를 이용한 표현식

###lambda를 이용한 add 함수

In [47]:
add = lambda a, b: a+b  ## def없이 함수를 정의하는 법

result = add(3, 4)
print(result)

# lambda 예약어로 만든 함수는 return 명령어가 없어도 결괏값을 돌려준다.

7

In [48]:
# lambda 함수의 응용

models = ['K-3000', 'N-1000', 'T-2000', 'X-5000']
sorted(models, key=lambda x: x[-4:])  ## 리스트의 각 값의 뒤에서 4번째 값을 sorted라는 내장함수로 낮은 값부터 큰값 순서로 출력

['N-1000', 'T-2000', 'K-3000', 'X-5000']